@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"] {
  --background: red;
  --foreground: rgb(196, 106, 106);
  color: red;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
